html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
  }

  body {
    background: linear-gradient(45deg, black, purple, darkblue);
    background-size: 300% 300%;
    animation: moveGradient 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  @keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }